/*? PAGINA DE TUTORIALES */
.bio{
    color: #ffffff;
    background-image: url(../img/fondonav.jpeg);
    margin-top: 5px;
    text-transform: uppercase;
    text-align: center;
}


.biografia{
    height: 500px;
    width: 900px;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
    background-color: #0000006e;
    div{
        height: 100%;
        width: 100%;
        margin: 50px;
        h3{
            color: $color-terciario;
            margin: 40px;
            font-size: 35px;
            text-transform: uppercase;
            text-align: center;
        }
        p{
            color: $color-terciario;
            font-size: 18px;
            text-align: center;
        }
    }
    img{
        height: 400px;
        width: auto;
        margin: 50px;
        @include bordes (2px, solid, $color-secundario);
    }
}
.familia{
    height: 450px;
    width: 900px;
    margin: auto;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    background-color: #0000006e;
    .flia{
        height: 100%;
        width: 100%;
        .flia-titulo{
            color: $color-terciario;
            text-transform: uppercase;
            margin: 40px;
            font-size: 35px;
            text-align: center;
        }
        .flia-parrafo{
            color: $color-terciario;
            font-size: 18px;
            text-align: center;
        }
    }
    .flia-img{
        height: 400px;
        width: auto;
        margin: 20px;
        @include bordes (2px, solid, $color-secundario);
    }
}