/*? PAGINA DE CURSOS */
.cursos {
    color: $color-terciario;
    background-image: url(../img/fondonav.jpeg);
    margin-top: 5px;
    text-transform: uppercase;
    text-align: center;
}
.compra-cursos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cursos-pagos {
        background-color: $color-principal;
        border: 2px solid $color-secundario;
        border-radius: 5px;
        width: 380px;
        height: 600px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        color: $color-terciario;
        img {
        width: 100%;
        height: 240px;
        object-fit: cover;
        }
        .cursos-pagos-guias {
            padding: 1px;
            flex-grow: 1;
            flex-direction: column;
            @include flex(flex, space-between, center);
            h3{
                font-size: 18px;
                text-align: center;
                margin-top: 8px;
            }
            p{
                font-size: 12px;
                text-align: center;
                margin: 2px;
            }
            .boton-cursos{
                background-color: $color-principal;
                color: map-get($boton, text-color);
                border: map-get($boton, borde-boton);
                width: 100%;
                padding: 5px;
                border-radius: 5px;
                &:hover{
                    background-color: $color-secundario;
                    color: $color-principal;
                    transition: 0.5s;
                }
            }
        }
    }
}