/*! FOOTER */
.footer{
    background-image: linear-gradient($color-principal, $color-principal,$color-principal,$color-principal, $color-secundario,);
    text-align: center;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    height: 160px;
    width: 100%;
    .logo{
    height: 125px;
    width: 125px;
    }
    h3{
        font-size: 30px;
        color: $color-terciario;
        margin-top: 15px;
    }
    div{
        a{
            img{
                height: 40px;
                margin-top: 15px;
                padding: 3px;
                &:hover{
                    transition: 1s;
                    transform: scale(1.5);
                }
            }
        }
    }
}