/*! FOOTER */
.footer{
    background-image: url(../img/fondonav.jpeg);
    background-size: cover;
    text-align: center;
    border-top: medium #ff35ca solid;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    height: 160px;
    width: 100%;
    h3{
        font-size: 30px;
        color: #ffffff;
        margin-top: 15px;
    }
    div{
        a{
            img{
                height: 40px;
                margin-top: 15px;
                &:hover{
                    height: 55px;
                }
            }
        }
    }
}