/*? MEDIA QUARIS */
@media screen and (max-width: 1075px){
    .bienvenidos img {
        height: 400px;
        width: 580px;
    }
    .mas-productos {
        grid-template-columns: 1fr, 1fr;
        grid-auto-rows: 220px;
        object-fit: none;
        gap: 7px;
    }
    .grid-producto {
        grid-column: span 1;
        grid-row: span 1;
    }
}
@media screen and (max-width: 990px){
    header {
        height: 300px;
        padding: 15px;
    }
    header nav div ul li .nav-link {
        color: #ffffff;
        font-size: 13px;
        text-align: center;
    }
    header h1 a {
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 40px;
    }
    header nav div .navbar-toggler{
        background-color: #ff35ca;
    }
    header nav div .collapse{
        height: 30px;
    }
    header nav div .navbar-brand{
        color: #ffffff;
    }
    header nav div ul{
        border: none;
    }
    .hero .titulo{
        font-size: 35px;
    }
    .hero p{
        font-size: 20px;
    }
    .hero a {
        font-size: 15px;
    }
    .bienvenidos img{
        height: 350px;
        width: 530px;
    }
    .bienvenidos h3{
        font-size: 25px;
    }
    .bienvenidos div p {
        font-size: 15px;
    }
}
@media screen and (max-width: 882px){
    .bienvenidos img{
        height: 280px;
        width: 385px;
    }
    .bienvenidos h3{
        font-size: 19px;
    }
    .bienvenidos div p {
        font-size: 12px;
    }
    form {
        width: 550px;
    }
}
@media screen and (max-width:730px){
    .mas-productos {
        grid-template-columns: 1fr;
        object-fit: cover;
        gap: 5px;
    }
    .grid-producto {
        grid-column: span 1;
    }
}
@media screen and (max-width: 652px){
    .hero {
        height: 300px;
    }
    .hero .titulo{
        font-size: 30px;
        margin: 15px;
    }
    .hero p{
        font-size: 17px;
        margin: 10px;
    }
    .hero a {
        font-size: 13px;
    }
    .bienvenidos img{
        display: none;
    }
    .bienvenidos div {
        width: 100%;
    }
    .bienvenidos h3{
        font-size: 30px;
    }
    .bienvenidos div p {
        font-size: 20px;
    }
    .whatsapp a img{
        width: 40px;
    }
    form {
        width: 330px;
    }
}
@media screen and (max-width: 561px){
    .hero .titulo {
        font-size: 25px;
    }
    .hero p {
        font-size: 15px;
    }
    .hero a {
        font-size: 11px;
    }
    header {
        height: 285px;
    }
    header nav ul {
        flex-direction: column;
        border: none;
        background-color: #00000000;
    }
    .footer h3 {
        font-size: 25px;
        color: #ffffff;
        margin-top: 15px;
    }
    .footer a img {
        height: 20px;
        width: 33px;
        margin-top: 15px;
    }
}
@media screen and (max-width: 450px) {
    .hero .titulo {
        font-size: 25px;
    }
    .hero p {
        display: none;
    }
    .hero a {
        font-size: 18px;
    }
    .whatsapp a img{
        width: 30px;
    }
    .footer h3 {
        font-size: 17px;
        color: #ffffff;
        margin-top: 15px;
    }
    .footer a img {
        height: 20px;
        width: 24px;
        margin-top: 15px;
    }
}
@media screen and (max-width: 407px) {
    .hero .titulo {
        font-size: 20px;
    }
    .hero a {
        font-size: 15px;
    }
    .bienvenidos h3{
        font-size: 25px;
    }
    .bienvenidos div p {
        font-size: 18px;
    }
    .populares .productos div h4 {
        font-size: 18px;
    }
}