/*? MEDIA QUARIS */
@media screen and (max-width: 1075px){
    .bienvenidos img {
        height: 400px;
        width: 580px;
    }
    .populares .productos{
    flex-wrap: wrap;
    height: auto;
    }
    .mas-productos {
        grid-template-columns: 1fr, 1fr;
        grid-auto-rows: 220px;
        object-fit: none;
        gap: 7px;
    }
    .grid-producto {
        grid-column: span 1;
        grid-row: span 1;
    }
}
@media screen and (max-width: 990px){
    header {
        height: 300px;
        padding: 15px;
    }
    header nav div ul li .nav-link {
        color: #ffffff;
        font-size: 13px;
        text-align: center;
    }
    header h1 a {
        text-decoration: none;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 40px;
    }
    header nav div .navbar-toggler{
        background-color: #ff35ca;
    }
    header nav div .collapse{
        height: 30px;
    }
    header nav div .navbar-brand{
        color: #ffffff;
    }
    header nav div ul{
        border: none;
    }
    .hero .titulo{
        font-size: 35px;
    }
    .hero p{
        font-size: 20px;
    }
    .hero a {
        font-size: 15px;
    }
    .bienvenidos img{
        height: 350px;
        width: 530px;
    }
    .bienvenidos div h3{
        font-size: 20px;
    }
    .bienvenidos div p {
        font-size: 15px;
    }
    .menu .menu-tienda{
        height: 320px;
        width: 270px;
    }
    .menu .menu-tienda h3{
        font-size: 15px;
    }
    .menu ul li a{
        font-size: 10px;
        margin-left: -20px;
    }
    article img {
        height: 350px;
    }
    article div{
        width: 650px;
    }
    article div h3{
        font-size: 20px;
    }
    article div p{
        font-size: 10px;
        padding: 7px;
    }
}
@media screen and (max-width: 882px){
    .bienvenidos img{
        height: 280px;
        width: 385px;
    }
    .bienvenidos div h3{
        font-size: 15px;
    }
    .bienvenidos div p {
        font-size: 12px;
    }
    form {
        width: 550px;
    }
    .menu .menu-tienda{
        height: 140px;
        width: 255px;
    }
    .menu .menu-tienda h3{
        font-size: 13px;
    }
    .menu ul li a{
        font-size: 9.5px;
        margin-left: -20px;
    }
    article img {
        height: 300px;
    }
    article div{
        width: 600px;
    }
    /*!mediaQ Cursos*/
    .compra-cursos{
        flex-wrap: wrap;
    }
    /*!mediaQ Blog*/
    .guias{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:815px){
    article{
        height: 350px;
    }
    article img {
        height: 280px;
    }
    article div{
        width: 600px;
    }
    article div h3{
        margin-bottom: 30px;
    }
    article div a{
        font-size: 13px;
        padding: 7px;
    }
    article p{
        display: none;
    }
}
@media screen and (max-width:730px){
    .bienvenidos img{
        height: 250px;
        width: 355px;
    }
    .mas-productos {
        grid-template-columns: 1fr;
        object-fit: cover;
        gap: 5px;
    }
    .grid-producto {
        grid-column: span 1;
    }
    .menu{
        display: none;
    }
    article div a{
        font-size: 11px;
        padding: 6px;
    }
}
@media screen and (max-width: 652px){
    .hero {
        height: 300px;
    }
    .hero .titulo{
        font-size: 30px;
        margin: 15px;
    }
    .hero p{
        font-size: 17px;
        margin: 10px;
    }
    .hero a {
        font-size: 13px;
    }
    .bienvenidos img{
        display: none;
    }
    .bienvenidos div {
        width: 100%;
    }
    .bienvenidos div h3{
        font-size: 30px;
    }
    .bienvenidos div p {
        font-size: 20px;
    }
    .whatsapp a img{
        width: 40px;
    }
    form {
        width: 330px;
    }
    article{
        height: 300px;
    }
    article div h3{
        font-size: 15px;
    }
    article div a{
        font-size: 10px;
        width: 130px;
    }
}
@media screen and (max-width: 561px){
    .hero .titulo {
        font-size: 25px;
    }
    .hero p {
        font-size: 15px;
    }
    .hero a {
        font-size: 11px;
    }
    header {
        height: 285px;
    }
    header nav ul {
        flex-direction: column;
        border: none;
        background-color: #00000000;
    }
    article img{
        height: 220px;
    }
    article div a{
        font-size: 8px;
        width: 90px;
    }
    article div h3{
        font-size: 10px;
    }
    .footer h3 {
        font-size: 25px;
        color: #ffffff;
        margin-top: 15px;
    }
    .footer a img {
        height: 20px;
        width: 33px;
        margin-top: 15px;
    }
}
@media screen and (max-width: 450px) {
    .hero .titulo {
        font-size: 25px;
    }
    .hero p {
        display: none;
    }
    .hero a {
        font-size: 18px;
    }
    .whatsapp a img{
        width: 30px;
    }
    .footer{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
    }
    .footer h3 {
        font-size: 15px;
        color: #ffffff;
        margin-top: 15px;
    }
    .footer .logo{
        height: 90px;
        width: 90px;
    }
    .footer div a img {
        width: 22%;
        margin-top: 15px;
    }
    article img{
        height: 200px;
    }
    article div a{
        font-size: 6px;
        width: 75px;
    }
    article div h3{
        font-size: 8px;
    }
    /*mediaQ Cursos*/
    .compra-cursos .cursos-pagos .cursos-pagos-guias h3{
        font-size: 17px;
    }
    .compra-cursos .cursos-pagos .cursos-pagos-guias p{
        font-size: 14px;
    }
    /*!mediaQ Blog*/
    .guias .guias-descargables .tutos h3{
        font-size: 17px;
    }
    .guias .guias-descargables .tutos p{
        font-size: 11px;
    }
}
@media screen and (max-width: 407px) {
    .hero .titulo {
        font-size: 20px;
    }
    .hero a {
        font-size: 15px;
    }
    .bienvenidos h3{
        font-size: 25px;
    }
    .bienvenidos div p {
        font-size: 18px;
    }
    .populares .productos div h4 {
        font-size: 18px;
    }
    article{
        height: 250px;
    }
    article img{
        height: 150px;
    }
    article div a{
        font-size: 6px;
        width: 75px;
    }
    article div h3{
        font-size: 8.5px;
    }
    .compra-cursos .cursos-pagos .cursos-pagos-guias p{
        font-size: 12px;
    }
}